<div class="footer flex-container">
  <div class="footer-links ">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    Website made with <i class="fas fa-heart"></i> by renoirlucena.dev
  </div>
</div>
