<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url('banner-equipo-audiovisual-1920x1280.jpg') %>');">
  <div class="container">
    <h1>Lucena Marketing <strong>venda mais</strong> com <strong>audiovisual</strong>!</h1>
    <p>Especialistas em capturar a essência dos imóveis de luxo e apresentá-los como obras de arte audiovisuais.</p>
    <a class="btn btn-gradient" href="#">Fale conosco!</a>
  </div>
</div>

<div class="card">
    <p>Você está prestes a embarcar em uma jornada visualmente deslumbrante
    através dos mais elegantes e sofisticados imóveis do mercado. Aqui na Lucena
    Marketing, nós somos especialistas em capturar a essência dos imóveis de luxo e
    apresentá-los como obras de arte audiovisuais.</p>

    <p>Com nossa tecnologia de última geração e equipe altamente talentosa, nós
    criamos produções que destacam as características únicas de cada imóvel e as
    tornam ainda mais atraentes para potenciais compradores. Se você quer ter seu
    imóvel de luxo apresentado de maneira impactante, entre em contato conosco
    hoje mesmo e permita-nos criar algo especial para você. </p>
</div>
<div class="card">
  <div class="card-product">
    <img src="<%= image_url('sony-a7rIV.jpg') %>" />
    <div class="card-product-infos">
      <h2>Fotografia</h2>
      <h6 class="mt-2">A fotografia de imóveis é a arte de capturar a beleza e a essência de um espaço.
        É a primeira impressão que os compradores terão do seu imóvel e é crucial para
        destacar suas características únicas e atrair compradores potenciais.</h5>
    </div>
  </div>
</div>
